# Pandas Practice

In [4]:
import pandas as pd
import numpy as np

## Create DataFrame

In [2]:
a = pd.Series(['a', 'b', 'c'])
df = pd.DataFrame(columns=a)
df

Empty DataFrame
Columns: [a, b, c]
Index: []

In [5]:
b = np.arange(3)
df = pd.DataFrame(columns=b)
df

Empty DataFrame
Columns: [0, 1, 2]
Index: []

## DataFrame Operations

In [6]:
a = np.arange(20)
a.resize(5,4)
df = pd.DataFrame(a)
df['sum'] = df.sum(axis=1) # sum row
sum_col = df.sum(axis=0) # sum column